/* google font  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* commmon style  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #f3f1ff;
}
main {
  display: flex;
  justify-content: center;
}
.container {
  background-color: #ffffff;
  border-radius: 5px;
  width: 870px;
  padding: 30px;
}
.section-title {
  font-size: 24px;
  color: #562eff;
  margin-bottom: 40px;
}
/* top players  style start  */
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* row-gap: 30px; */
}
.player {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.player > img {
  width: 56px;
  height: 56px;
}
.player-name {
  margin-left: 16px;
  font-size: 18px;
  color: #000000;
}
hr {
  border: 1px solid #d1d1d1;
}
